{
  "property-id" "tag:staff@noreply.openkim.org,2024-06-21:property/phonon-band-structure"

  "property-title" "Phonon band structure of a crystal"

  "property-description" "Phonon band structure of an arbitrary crystal along a high-symmetry band path."

; specify primitive lattice where necessary, give an unambiguous reference to the orientation of the lattice vectors. 

  "wave-vectors" {
    "type"         "float"
    "has-unit"     true
    "extent"       [":",3]
    "required"     true
    "description"  "Wave vectors at which the response frequencies are evaluated. It is expected that the wave vectors travel in a straight line between special points defined in the special-points key"
  }

  "special-points-indices" {
    "type"         "int"
    "has-unit"     false
    "extent"       [":"]
    "required"     true
    "description"  "The indices (one-based) of `wave-vectors` that correspond to high-symmetry special points in the Brillouin zone. The path traced out by `wave-vectors` may only turn at these points."
  }  

"special-points-labels" {
    "type"         "str"
    "has-unit"     false
    "extent"       [":"]
    "required"     true
    "description"  "The labels corresponding to the special points listed in `special-points-indices`."
  }  

 "response-frequency" {
    "type"         "float"
    "has-unit"     true
    "extent"       [":",":"]
    "required"     true
    "description"  "For each wavevector in `wave-vectors`, an array of the square roots of the eigenvalues of the dynamical matrix corresponding to that wavevector. Ordered as specified in `response-frequency-ordered`. Negative values of frequency indicate purely imaginary frequencies."
 }

 "response-eigenvector" {
    "type"         "float"
    "has-unit"     false
    "extent"       [":",":",3]
    "required"     false
    "description"  "The eigenvectors corresponding to the eigenvalues from which the `response-frequency` key is calculated. The `coordinates-file` key must be provided with this key to indicate the exact positions of the corresponding atoms."
 }

 "response-frequency-ordered" {
    "type"         "bool"
    "has-unit"     false
    "extent"       []
    "required"     false
    "description"  "If and only if this key is provided and set to `true`, the `response-frequency` has consistent ordering across wavevectors indicating smooth bands. Otherwise, the response frequencies are expected to be ordered in ascending numerical order."
 }


; COMMON CRYSTAL GENOME KEYS BELOW

  "prototype-label" {
    "type"         "string"
    "has-unit"     false
    "extent"       []
    "required"     true
    "description"  "Prototype label (not including an enumeration suffix) as defined by the AFLOW standard (e.g. 'A_tI4_141_a') for the structure. It is expected that the alphabetically lowest of all equivalent labels is chosen."
  }
  "stoichiometric-species" {
    "type"         "string"
    "has-unit"     false
    "extent"       [":"]
    "required"     true
    "description"  "Element symbols corresponding to the atom types in the stoichiometric formula which appears at the start of the prototype label (e.g. ['Mo','S'] for the AB2 stoichiometric formula, means that the 'A' atom is 'Mo' and the 'B' atom is 'S' for the MoS_2 structure)."
  }
  "a" {
    "type"         "float"
    "has-unit"     true
    "extent"       []
    "required"     true
    "description"  "The average 'a' lattice constant of the crystal structure as defined by the AFLOW standard. Relative values of other lattice parameters (if present) are given in the 'parameter-values' key."
  }
  "parameter-names" {
    "type"         "string"
    "has-unit"     false
    "extent"       [":"]
    "required"     false
    "description"  "Names of the parameters other than 'a', if present, corresponding to this AFLOW prototype. These can include lattice parameters from the set {'b/a','c/a','alpha','beta','gamma'} (for the conventional crystal structure defined by lattice parameters a, b, and c and angles alpha, beta, gamma), and coordinates of Wyckoff positions that have a degree of variability labeled as 'x*', 'y*' and 'z*' where the asterisk represents an integer as defined by the AFLOW standard."
  }
  "parameter-values" {
    "type"         "float"
    "has-unit"     false
    "extent"       [":"]
    "required"     false
    "description"  "Values for the parameters listed in 'parameter-names' corresponding to the average positions of the atoms. Note that all parameters are dimensionless."
  }
  "library-prototype-label" {
    "type"         "string"
    "has-unit"     false
    "extent"       []
    "required"     false
    "description"  "The AFLOW library prototype, if any, matching the structure. Prototypes in the AFLOW library are associated with common short names used by the materials community. The library prototype includes an integer enumeration suffix defined by the AFLOW standard when there are multiple parameter values associated with the structure (e.g. 'A_tI4_141_a-001' for 'betaSn'). Because these prototype labels are named according to their original material's conventional chemical formula, they may differ from the 'prototype-label' key, which is expected to be standardized to have the alphabetically lowest possible of all equivalent labels."
  }
  "short-name" {
    "type"         "string"
    "has-unit"     false
    "extent"       [":"]
    "required"     false
    "description"  "Commonly used name associated with the 'library-prototype-label' key according to the AFLOW prototype library (e.g. 'Face-Centered Cubic' or 'Molybdenite')."
  }
  "coordinates-file" {
    "type"         "file"
    "has-unit"     false
    "extent"       []
    "required"     false
    "description"  "A file containing the atomic configuration including information such as the species, x,y,z coordinates of each particle, and periodicity data."
  }  
  "crystal-genome-source-structure-id" {
    "type"         "string"
    "has-unit"     false
    "extent"       [":"]
    "required"     false
    "description"  "The identifier (ID) of the Crystal Genome (CG) structure for which the property (test result and instance) containing this key was computed. The ID points to an archived CG structure (test result and instance) and has the following format: '[KIM test result uuid]:[instance-id]', e.g., 'TE_258644009221_002-and-MO_751354403791_005-1715722494-tr:2'."
  }  
}
